<h1>Create New users</h1>

<form action="users/create" method="post" accept-charset="UTF-8">
  <label for="username">Username</label><br>
  <input type="text" id="username" name="username"><br><br>
  <label for="email">Email</label><br>
  <input id="email" type="email" name="email"><br><br>
  <label for="password">Password</label><br>
  <input id="password" type="password" name="password"><br><br>
  <input type="submit" value="Submit" name="submit">
</form>
